<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.21.19" targetFramework="xamarinios10" />
  <package id="AWSSDK.S3" version="3.3.18" targetFramework="xamarinios10" />
  <package id="PCLCrypto" version="1.0.2.15130" targetFramework="xamarinios10" />
  <package id="PCLStorage" version="1.0.2" targetFramework="xamarinios10" />
  <package id="Plugin.Permissions" version="2.2.1" targetFramework="xamarinios10" />
  <package id="Validation" version="2.0.6.15003" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Media" version="3.1.3" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.5.0.121934" targetFramework="xamarinios10" />
</packages>